.section-about {
  background-color: $color-gray-light-1;
  padding: 35rem 0;
  margin-top: -20vh;
}
.section-features {
  padding: 20rem 0;
  background-image:linear-gradient(
    to right bottom, 
    rgba($color-primary-light,.5), 
    rgba($color-primary-dark, .5)), 
    url(../../images/Presidentials.jpg);
    background-size: cover;

    transform: skewY(-7deg);
    margin-top: -20rem;

    & > * {
      transform: skewY(7deg);
    }
}

.section-tours {
  background-color: $color-gray-light-1;
  padding: 35rem 0 50rem 0;
  margin-top: -10rem;
}